{{#unless isFastboot}}
<select>
  {{#if modes}}
    {{#each modes as |mode|}}
      {{#if (is-equal mode default) 'selected'}}
        <option value={{mode}} selected>{{mode}}</option>
      {{else}}
        <option value={{mode}}>{{mode}}</option>
      {{/if}}
    {{/each}}
  {{else}}
    {{#each defaultModes as |mode|}}
      {{#if (is-equal mode travelMode 'selected')}}
        <option value={{mode}} selected>{{mode}}</option>
      {{else}}
        <option value={{mode}}>{{mode}}</option>
      {{/if}}
    {{/each}}
  {{/if}}
</select>
{{/unless}}
