<button class='uk-button uk-button-primary otb-mode-contorl' type="button">{{{tour.mode.safeIcon}}} {{tour.mode.title}}</button>
  <div uk-dropdown="mode: click">
    <ul class='uk-list'>
      {{#each modes as |mode|}}
      {{#unless (eq mode.title tour.mode.title)}}
        <li><a {{action 'setMode' tour mode}}>{{{mode.safeIcon}}} {{mode.title}}</a></li>
      {{/unless}}
      {{/each}}
  </ul>
</div>
