{{#each tours as |tour|}}
<div class="tour-container {{if tour.show 'show'}} {{tour.classList}}">
  <div class="header" style={{tour.safeBackgroundImage}} onclick={{action 'open' tours tour}}>
    <div class='title'>
      <h2>
          {{tour.title}}
      </h2>
  </div>
  </div>
  <div class='body otb-container'>
    {{!-- {{#parallax-content speed=0.5 }} --}}
    {{responsive-embed embedCode='https://www.youtube.com/watch?v=TpazxwU-LzM'}}
    {{!-- {{/parallax-content}}
    {{#parallax-content speed=1 height='20vh' }} --}}
    {{overview-map stops=tour.stops}}
    {{!-- {{/parallax-content}}
    {{#parallax-content speed=2 height='calc(100vh - 4em)' }} --}}
    <div class='description'>
        <article>
            {{{tour.safeDescription}}}
        </article>
    </div>
    {{!-- {{/parallax-content}} --}}
  </div>
  {{#link-to 'tour' tour}}
    <div class='footer foo'>start tour</div>
  {{/link-to}}
</div>
{{/each}}
