{{#if this.deviceContext.isMobile}}
  <div class="otb-mobile-tour-container">
    {{!--
      Flow:
        show stop on map
        explain why asking for permission
        ask
        if allow directions -> show directions || show 
        else -> show stop on map with address
    --}}
    <MobileStopMap @stop={{this.model.tourStop.stop}} @tour={{this.model.tour}}/>
    <AllowLocation />
    {{#if (and this.location.updateLocation.isRunning (not this.location.clientLocation))}}
      <div class="uk-overlay uk-overlay-default uk-position-center">
        <p>locating....</p>
      </div>
    {{else if (and this.location.clientLocation (eq this.location.errorMessage null))}}
      <MobileStopRoute @stop={{this.model.tourStop.stop}} @tour={{this.model.tour}}/>
    {{/if}}
    {{#if this.locationPermissions.locationAllowed}}
      <div id="map-mode-control" class="otb-mobile-map-control-tl uk-padding-small">
        <ModeControl @tour={{this.model.tour}} @parentId="map-mode-control" />
      </div>
    {{/if}}
    <ToggleDirections @show={{this.showDirections}}>
      <button type="button" class="uk-button otb-mobile-map-control" onclick={{toggle "showDirections" this}}>
        <FaIcon @icon={{"directions"}} /> Directions
      </button>
    </ToggleDirections>
    <div class="otb-mobile-directions-panel uk-panel-scrollable {{if this.showDirections "otb-mobile-directions-panel-show"}}">
      <div class="uk-text-center" role="button" onclick={{toggle "showDirections" this}}>
        <FaIcon @icon="angle-down" />
      </div>
      <ul uk-tab>
        {{#if (or this.model.tourStop.stop.sanitized_direction_notes this.model.tourStop.stop.directionIntro)}}
          <li class="uk-active"><a href="#">Notes</a></li>
        {{/if}}
        <li><a href="#">Turn By Turn</a></li>
      </ul>
      <ul class="uk-switcher uk-container">
        {{#if (or this.model.tourStop.stop.sanitized_direction_notes this.model.tourStop.stop.directionIntro)}}
          <li>
            <div class="otb-mobile-directions-display-panel">
              {{this.model.tourStop.stop.directionIntro}}
              {{this.model.tourStop.stop.sanitized_direction_notes}}
            </div>
          </li>
        {{/if}}
        <li>
          {{#if this.locationPermissions.locationAllowed}}
            <div id="directions-panel" class="otb-mobile-directions-display-panel"></div>
            {{#if this.maps.errorMessage}}
              <section>{{this.maps.errorMessage}}</section>
            {{else if this.location.errorMessage}}
              <section>Unable to get your location. Please try again. Sorry :(</section>
            {{/if}}
          {{else}}
            <div class="otb-directions-display-panel">
              Turn by turn directions are only available if you allow access to your location.
              <LocationSettings @tour={{this.model.tour}} />
            </div>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>

{{/if}}