{{outlet}}
<div class='uk-child-width-1-1' uk-grid>
    <div>
      <h1 class='uk-primary-heading'>{{model.display_name}}</h1>
    </div>
    {{#if currentUser.user.super}}
      <div>
        {{input
          id='super'
          name='super'
          type='checkbox'
          checked=model.super
          change=(pipe (toggle 'super' model ) (perform saveRecord model) )}}
        <label for='super'>Super User</label>
      </div>
      <div>
        {{#data-loader queryType='all' modelName='tour-set' as |loader|}}
          <h2>Admin for Site:</h2>
          {{#if loader.isRunning}}
          <p>Loading Tour Sets...</p>
          {{else}}
            <div class='uk-margin uk-grid-small uk-child-width-1-1 uk-grid'>
              {{#each loader.data as |tourSet|}}
                <div>
                  {{input
                    id=tourSet.subdir
                    type='checkbox'
                    name='tour_set'
                    change=(action 'addRemoveSet' model tourSet)
                    checked=(includes model.tour_sets tourSet)}}
                  <label for={{tourSet.subdir}}>{{tourSet.name}}</label>
                </div>
              {{/each}}
            </div>
          {{/if}}
        {{/data-loader}}
      </div>

      <div>

      </div>
    {{/if}}
    <div>
      <ul>
        {{#each model.tours as |tour|}}
          <li>{{tour.title}}</li>
        {{/each}}
      </ul>
    </div>
</div>