{{#liquid-bind model use='stop' as |currentModel|}}
    {{liquid-outlet class='stop-content'}}
{{/liquid-bind}}

{{log model}}

<div class='otb-bottom-navbar-container' data-theme='{{theme.name}}'>
    <div class='uk-grid-collapse uk-child-width-1-4 uk-text-center' uk-grid>
        {{#otb-link-to 'tour.stop.index' model.previous_slug class='' data-theme=theme.name}}
            <div>{{fa-icon 'chevron-left' aria-hidden='true'}}<br />Prev</div>
        {{/otb-link-to}}

        {{#otb-link-to 'tour.stop.index' model.slug class='' data-theme=theme.name}}
            <div>{{fa-icon 'info-circle' aria-hidden='true'}}<br />info</div>
        {{/otb-link-to}}

        {{#otb-link-to 'tour.stop.map' model.slug class='' data-theme=theme.name}}
            <div>{{fa-icon 'map' aria-hidden='true'}}<br />{{t 'map'}}</div>
        {{/otb-link-to}}

        {{#otb-link-to 'tour.stop' model.next_slug class='' data-theme=theme.name}}
            <div>{{fa-icon 'chevron-right' aria-hidden='true'}}<br />next</div>
        {{/otb-link-to}}
    </div>
</div>
