    <div class='uk-margin'>
      {{#uk-button color='primary' size='large'}}New Stop{{/uk-button}}
    </div>

    <div uk-grid class='uk-grid-small'>
        <div class='uk-width-expand'>
          <span style='opacity: 0;'>{{input class='uk-checkbox' type='checkbox'}}</span>
          <span class='uk-padding'>Stop</span>
        </div>

        <div class='uk-width-1-6'>
          <span class='uk-padding'>
            Edit
          </span>

          Delete
        </div>
      </div>
      <hr />
    {{#uk-sortable}}
      {{#each model as |stop|}}
      <div uk-grid class='uk-grid-small'>
        <div class='uk-width-expand'>
          {{input class='uk-checkbox' type='checkbox'}}
          <span class='uk-padding'>{{stop.title}}</span>
        </div>

        <div class='uk-width-1-6'>
          <span class='uk-padding'>
          {{#link-to 'admin.stops.edit' stop}}
            {{fa-icon 'pencil-alt'}}
            <span class='sr-only'>Edit {{stop.title}}</span>
          {{/link-to}}
          </span>

          <button {{action 'delete' stop}}>
            {{fa-icon 'trash-alt'}}
            <span class='sr-only'>Delete {{stop.title}}</span>
          </button>
        </div>
      </div>
      <hr />
      {{/each}}
    {{/uk-sortable}}
{{!-- </table> --}}
