<h2 class='uk-heading-bullet'>Tours</h2>
{{#otb-crud/new-button click=(perform newRecord 'tour')}}New Tour{{/otb-crud/new-button}}
  {{#if model.tours}}
{{#uk-table-striped}}
  <thead>
    <tr>
      <th class="uk-table-expand">Site Name</th>
      <th>Stops</th>
      <th class="uk-table-shrink">Delete</th>
    </tr>
  </thead>
  <tbody>
  {{#each model.tours as |tour|}}
    {{#if tour.title}}
    <tr>
      <td>
        {{#link-to 'admin.tours.edit' 'public' tour}}
        {{tour.title}}
        {{/link-to}}
      </td>

      <td>
        {{tour.stops.length}}
      </td>

      <td>
        {{#uk-button color='link' class='uk-align-center' on-click=(perform deleteRecord tour)}}
        {{fa-icon 'trash'}}
        {{/uk-button}}
      </td>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
{{/uk-table-striped}}
  {{/if}}

<h2 class='uk-heading-bullet'>Tour Sites</h2>
{{#otb-crud/new-button click=(perform newRecord 'tour-set')}}New Site{{/otb-crud/new-button}}

  {{#if model.tourSets}}
{{#uk-table-striped}}
  <thead>
    <tr>
      <th class="uk-table-expand">Site Name</th>
      <th class="uk-width-small">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.tourSets as |tour-set|}}
    <tr>
      <td class='uk-table-link'>
        {{#link-to 'admin.tours.index' tour-set.subdir}}
        {{tour-set.name}}
        {{/link-to}}
      </td>

      <td class='uk-table-link'>
        {{#uk-button color='link' class='uk-align-center' on-click=(perform deleteRecord tour-set)}}
        {{fa-icon 'trash'}}
        {{/uk-button}}
      </td>
    </tr>
    {{/each}}
  </tbody>
{{/uk-table-striped}}
{{/if}}