{{liquid-outlet}}
<div class='otb-bottom-navbar-container' data-theme='{{theme.name}}'>
    <div class='uk-grid-collapse uk-child-width-1-3 uk-text-center' uk-grid>
        {{#otb-link-to 'tour.overview.index' model class='' data-theme=theme.name}}
            <div>{{fa-icon 'info-circle' aria-hidden='true'}}<br />info</div>
        {{/otb-link-to}}
        {{#otb-link-to 'tour.overview.map' model class=''}}
            <div>{{fa-icon 'map' aria-hidden='true'}}<br />{{t 'map'}}</div>
        {{/otb-link-to}}
        {{#otb-link-to 'tour.overview.stops'}}
            <div>{{fa-icon 'list' aria-hidden='true'}}<br />{{t 'stops'}}</div>
        {{/otb-link-to}}
    </div>
</div>
