<div class='uk-navbar-transparent uk-navbar-container otb-top-navbar-container' style='{{model.safeBackgroundImage}}'>
    <nav class='uk-navbar otb-stop-title-bar' data-theme='{{theme.name}}'>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a class='uk-logo'>{{model.stop.title}}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{{liquid-outlet}}
<div class='otb-bottom-navbar-container' data-theme='{{theme.name}}'>
    <div class='uk-grid-collapse uk-child-width-1-3 uk-text-center' uk-grid>
        {{#otb-link-to 'tour.stop' model class='' data-theme=theme.name}}
            <div><i class='fa fa-info-circle' aria-hidden='true'></i><br />stop</div>
        {{/otb-link-to}}
        {{#otb-link-to 'tour.stop.map' model class=''}}
            <div><i class='fa fa-map' aria-hidden='true'></i><br />stop</div>
        {{/otb-link-to}}
        {{#otb-link-to 'tour.overview.stops' model.tour}}
            <div><i class='fa fa-list' aria-hidden='true'></i><br />stop</div>
        {{/otb-link-to}}
    </div>
</div>
