{{!-- {{#otb-crud/form-section label='Tour Title' as |inputId|}}
  {{input class='uk-input' id=inputId value=model.title}}
{{/otb-crud/form-section}}

{{#otb-crud/form-section label='Tour Description' as |inputId|}}
  {{pell-editor id=inputId value=model.description onChange=(action (mut model.description))}}
{{/otb-crud/form-section}}

{{#otb-crud/form-section label='Tour Meta Description' as |inputId|}}
  {{textarea id=inputId rows=6 class='uk-textarea' value=model.meta_description}}
{{/otb-crud/form-section}}

<div class='uk-section'>
    <h2 class='uk-heading-bullet'>Tour Stops</h2>
    <label class='uk-form-label'>Stops</label>
    {{#uk-modal modalName='new-stop' overflowAuto=true full=true on-beforeshow=(action 'newStop') as |modal|}}
      {{#modal.open}}
        <i class="fa fa-plus-circle"></i> Add new stop
      {{/modal.open}}
      {{#modal.dialog}}
        {{#modal.header}}
          {{#modal.title}}
            New Stop
          {{/modal.title}}
        {{/modal.header}}
        {{#modal.body}}
          {{otb-crud/stop model=newStop}}
        {{/modal.body}}
        {{#modal.footer}}
          {{#uk-button color='primary'}}Save{{/uk-button}}
        {{/modal.footer}}
      {{/modal.dialog}}
    {{/uk-modal}}
    <div class='uk-form-controls'>
      {{#uk-sortable on-stop=(action 'reordered')}}
        {{#each model.sortedTourStops as |stop index|}}
          <div class='uk-margin-large' data-id={{stop.id}} data-model={{stop.constructor.modelName}}>
              <div class='uk-card uk-card-default uk-card-body uk-card-small'>
                {{stop.position}}: {{stop.stop.title}}</div>
        {{#uk-modal container=true modalName=(concat 'edit-' stop.id) as |modal|}}
          {{#modal.open}}
            {{fa-icon 'pencil' aria-hidden='true' mode='hover'}} Edit
          {{/modal.open}}
          {{#modal.dialog}}
          {{#modal.body}}
            {{otb-crud/stop model=stop.stop}}
          {{/modal.body}}
        {{/modal.dialog}}
        {{/uk-modal}}

        </div>
        {{/each}}
      {{/uk-sortable}}
    </div>
  </div>

<h2 class='uk-heading-bullet'>Media</h2>
{{otb-crud/media model=model}}

{{otb-crud/submit-buttons save=(action 'saveModel' model)}} --}}
