{{#otb-crud/form-section label='Video' as |inputId|}}
  {{input id=inputId class='uk-input uk-margin-bottom' placeholder='Add video code...' value=videoCode input=(action 'getVideo' videoCode)}}
{{/otb-crud/form-section}}

{{#if (and (xor videoProviders.videoPreview videoProviders.videoPreview.error) (gt videoProviders.videoPreview.videoId.length 0) )}}
  <div class='uk-width-1-2 uk-align-center'>
    <section class='uk-section uk-text-center embed-container'>
      {{#if (eq videoProviders.videoPreview.provider 'youtube')}}
        <iframe src='https://www.youtube.com/embed/{{videoProviders.videoPreview.videoId}}' frameborder='0' allowfullscreen uk-responsive uk-video autoplay=false></iframe>
      {{else if (eq videoProviders.videoPreview.provider 'vimeo')}}
        <iframe src='https://player.vimeo.com/video/{{videoProviders.videoPreview.videoId}}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      {{/if}}
    </section>
  </div>

  {{#uk-button color='primary' on-click=(action 'addVideo')}}yes! add this video{{/uk-button}}
{{else}}
  {{videoProviders.videoPreview.error}}
{{/if}}