<button class='uk-button uk-button-primary otb-mode-control' type="button">{{fa-icon tour.mode.icon}} {{tour.mode.title}}</button>
  <div uk-dropdown class='uk-nav uk-dropdown-nav' mode='click'>
    <ul class='uk-list'>
      {{#each modes as |mode|}}
      {{#unless (eq mode.title tour.mode.title)}}
        <li><a href='#' {{action 'setMode' tour mode}}>{{fa-icon mode.icon}} {{mode.title}}</a></li>
      {{/unless}}
      {{/each}}
  </ul>
</div>
