
  {{model.title}}
{{#uk-sortable
  on-added=(action 'addExisting' model)
  on-stop=(perform reorder)
  group='media'
  tagName='ul' class='uk-grid uk-grid-small uk-child-width-auto uk-text-center'}}
    {{#each model.sortedMedia as |modelMedium|}}
      <li class='uk-tile uk-inline-clip uk-transition-toggle' tabindex='0' data-id={{modelMedium.id}} data-model={{modelMedium.constructor.modelName}}>
      {{uk-img medium=medium class='uk-transition-toggle'  alt=(concat 'Image: ' modelMedium.medium.caption) dataSrc=(concat modelMedium.medium.baseUrl modelMedium.medium.mobile)}}
      {{!-- Overlay with edit and delete buttons. --}}
      <div class='uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default'>
        {{!-- Edit button and modal --}}
        {{#uk-modal modalName=(concat 'edit-' model.slug modelMedium.id) on-show=(toggle 'loadEmbed' this) as |modal|}}
          {{#modal.open class='otb-media-button' tagName='div'}}
            {{fa-icon 'pencil-alt'}} Edit
          {{/modal.open}}
          {{#modal.dialog}}
            {{#modal.body}}
              {{#if modelMedium.medium.video}}
                {{otb-embed medium=modelMedium}}
              {{else}}
                <section class='uk-section uk-text-center'>
                  {{uk-img dataSrc=(concat modelMedium.medium.baseUrl modelMedium.medium.tablet) alt=(concat 'Picture of ' modelMedium.medium.title '. ' modelMedium.medium.caption)}}
                </section>
              {{/if}}
              {{#otb-crud/form-section label='Medium Title' as |inputId|}}
                {{input class='uk-input' id=inputId placeholder='Medium title...' value=modelMedium.medium.title}}
              {{/otb-crud/form-section}}
              {{#otb-crud/form-section label='Caption' as |inputId|}}
                {{textarea class='uk-input' id=inputId value=modelMedium.medium.caption}}
              {{/otb-crud/form-section}}
            {{/modal.body}}
            {{#modal.footer}}
              {{#uk-button class='uk-modal-close' on-click=(perform save modelMedium.medium) color='primary'}}Save{{/uk-button}}
              {{#uk-button color='link' class='uk-modal-close'}}Cancel{{/uk-button}}
            {{/modal.footer}}
          {{/modal.dialog}}
        {{/uk-modal}}
          {{!-- Delete button --}}
          {{#uk-button on-click=(perform delete (hash containerObj=model objToRemove=modelMedium.medium relationType='media'))}}{{fa-icon 'trash-alt'}} Delete{{/uk-button}}
      </div>
      </li>
    {{/each}}
    {{/uk-sortable}}

