<style type="text/css">.liquid-child { height: {{concat orientation.windowHeight 'px;'}} }</style>
<div class='{{media 'classNames'}} {{orientation.orientationClass}}' data-theme='{{theme.name}}'>
    {{outlet}}
</div>
